@import "views/styles/colors.scss";
@import "views/styles/breakpoints.scss";

.root {
  box-sizing: border-box;
  display: block;
  width: 100%;

  &__section {
    position: relative;
    margin-bottom: 24px;
  }
}

.section {
  box-sizing: border-box;
  display: block;

  width: 100%;

  &__title {
    position: relative;
    display: block;
  }

  &__body {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 24px;
  }
}


.message {
  box-sizing: border-box;
  display: block;
  padding: 6px 12px;
  background-color: $theme-gradient-0;
  border-radius: 6px;
  width: fit-content;
  font-size: .85rem;
}

.filter {
  box-sizing: border-box;
  display: block;
  position: relative;
  text-align: center;

  &__text {
    display: block;
    font-size: .9rem;
    font-weight: normal;
    line-height: 1.27;
  }

  &__state {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__option {
    box-sizing: border-box;
    position: relative;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 12px;
    border-radius: 6px;

    &:nth-child(2n - 1) {
      background-color: $background-filter-odd;
    }

    &:nth-child(2n) {
      background-color: $background-filter-even;
    }
  }

  &__actions {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;

    margin-top: 16px;
  }

}