@import "views/styles/colors.scss";

.root {
  box-sizing: border-box;
  display: block;
  margin: 0;

  font-weight: 500;
  font-style: normal;
  line-height: 1.27;
  color: $font-default;

  &_h6 {
    font-size: 1.1rem;
  }

  &_h5 {
    font-size: 1.15rem;
  }

  &_h4 {
    font-size: 1.2rem;
  }

  &_h3 {
    font-size: 1.3rem;
  }

  &_h2 {
    font-size: 1.4rem;
  }

  &_h1 {
    font-size: 1.5rem;
  }
  
}