@import "views/styles/breakpoints.scss";


.root {
  box-sizing: border-box;
  display: block;
  width: inherit;
  height: inherit;

  &__container {
    box-sizing: border-box;
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;

    @include laptop-up {
      flex-direction: row;
    }
  }

  &__column {
    position: relative;
    box-sizing: border-box;
    display: block;

    @include laptop-up {
      height: inherit !important;
    }

    &_main {
      height: 480px;

      @include laptop-up {
        flex: 1 0;
      }
    }

    &_aside {
      margin: 16px 0 0;

      @include tablet-portrait-up {
        margin: 32px 0 0 0;
      }

      @include laptop-up {
        max-height: unset;
        margin: 0 0 0 32px;
        flex: 0 0 360px;
        max-width: 360px;
      }

      @include desktop-up {
        flex: 0 0 400px;
        max-width: 400px;
      }
    }
  }


  &__panel {
    position: relative;

    &_main {
      width: 100%;
      height: 100%;
    }

    &_aside_top {
      width: 100%;
      height: 240px;

      @include tablet-portrait-up {
        height: 320px;
      }

      @include laptop-up {
        height: 40%;
      }
    }

    &_aside_bottom {
      width: 100%;
      padding: 24px 20px;
      margin: 16px 0 0;
    }
  }


}