$theme-gradient-0: #000000;
$theme-gradient-1: #0c0c0c;
$theme-gradient-2: #202020;



$background-default: $theme-gradient-1;

$background-header: $theme-gradient-2;
$background-panel: $theme-gradient-2;

$font-default: #fff;