$theme-gradient-0: #000000;
$theme-gradient-1: #0c0c0c;
$theme-gradient-2: #202020;



$background-default: $theme-gradient-1;

$background-header: $theme-gradient-2;
$background-panel: $theme-gradient-2;
$background-button: #1f77b4;
$background-button-hovered: #3a8dc9;
$background-button-disabled: #6e6e6e;


$font-default: #fff;