@import "views/styles/breakpoints.scss";
@import "views/styles/colors.scss";
@import "views/styles/fonts.scss";


html, body {
  margin: 0;
  background: $background-default;


  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;

  color: $font-default;
}

html, body, #root {
  width: 100%;

  @include laptop-up {
    height: 100%;
  }
}